[submodule "External/fmdb"]
	path = External/fmdb
	url = git@github.com:adamvduke/fmdb.git
[submodule "External/JSON"]
	path = External/JSON
	url = git@github.com:adamvduke/json-framework.git
[submodule "External/OAuth"]
	path = External/OAuth
	url = git@github.com:adamvduke/OAuthConsumer.git
[submodule "External/ObjCMacros"]
	path = External/ObjCMacros
	url = git@github.com:adamvduke/ObjCMacros.git
