<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>15414199</string>
	<string>110820743</string>
	<string>123956084</string>
	<string>12019742</string>
	<string>37417482</string>
	<string>102174552</string>
	<string>14305022</string>
	<string>13334762</string>
	<string>36082429</string>
</array>
</plist>
