<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>stevewozniak</string>
	<string>THE_REAL_SHAQ</string>
	<string>williamshatner</string>
	<string>adamvduke</string>
	<string>stellargirl</string>
	<string>iamaaronheld</string>
	<string>nerded</string>
	<string>costini</string>
	<string>beercampphilly</string>
	<string>timberners_lee</string>
	<string>nordstromrack</string>
	<string>KyleChamp</string>
	<string>neilstrauss</string>
	<string>katyperry</string>
</array>
</plist>
