<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>CREATE TABLE Person (id INTEGER PRIMARY KEY, userId TEXT UNIQUE NOT NULL, screenName TEXT UNIQUE NOT NULL, imageUrlString TEXT, image BLOB)</string>
</array>
</plist>
