<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>CREATE TABLE User (id INTEGER PRIMARY KEY, user_id INTEGER UNIQUE NOT NULL, screen_name TEXT UNIQUE NOT NULL, display_name TEXT, location TEXT, description TEXT, url TEXT)</string>
</array>
</plist>
